<div class="institution-eligibility-outcome">
    <div class="institution-eligibility-outcome--{{type}}">
        {{#isAgreed}}
            <h4 class="institution-eligibility-outcome__top_line">Yes, your institution has an agreement with eLife</h4>

            {{^rollingDeal}}
                <p class="institution-eligibility-outcome__text">{{institution}} has an agreement with eLife until {{until}} that allows authors affiliated
                    with the University or its child organisations (as defined by the Research Organisation Registry) to publish an unlimited number
                    of articles without paying article processing charges (APCs).
                </p>
            {{/rollingDeal}}
            {{#rollingDeal}}
                <p class="institution-eligibility-outcome__text">{{institution}} has a rolling agreement with eLife that allows authors affiliated
                    with the University or its child organisations (as defined by the Research Organisation Registry) to publish an unlimited number
                    of articles without paying article processing charges (APCs).
                </p>
            {{/rollingDeal}}

            <a href="https://ror.org" target="_blank" class="institution-eligibility-outcome_agreed_link">Check the Research Organisation Registry</a>.
        {{/isAgreed}}
        {{#isNotAgreedPublished}}
            <h4 class="institution-eligibility-outcome__top_line">{{institution}} does <u>not</u> have an agreement with eLife.</h4>
            <p class="institution-eligibility-outcome__text">
                Submissions not covered by a publishing agreement will be charged at our standard publication fee of <b>$3,750</b>,
                payable for all submissions sent for peer review.
            </p>
        {{/isNotAgreedPublished}}
        {{#isNotAgreedNotPublished}}
            <h4 class="institution-eligibility-outcome__top_line">{{institution}} does <u>not</u> have an agreement with eLife.</h4>
            <p class="institution-eligibility-outcome__text">
                Enter type D text here
            </p>
        {{/isNotAgreedNotPublished}}
        {{#isNotAgreedNotPublishedWithPossibleMatches}}
            <div class="institution-eligibility-outcome__possible_matches-block">
                <h4 class="institution-eligibility-outcome__possible_matches_top_line">Did you mean</h4>
                <div class="institution-eligibility-outcome__possible_matches_link_block">
                    {{#possibleMatches}}
                        <ul>
                            <li>
                                <a class="institution-eligibility-outcome__possible_matches_link" href="{{url}}">{{name}} ({{country}})</a>
                            </li>
                        </ul>
                    {{/possibleMatches}}
                </div>
            </div>

            <h4 class="institution-eligibility-outcome__top_line">We're sorry. Your institution does not appear to have an agreement with eLife</h4>
            <p class="institution-eligibility-outcome__text">
                Enter type D text here
            </p>
        {{/isNotAgreedNotPublishedWithPossibleMatches}}
    </div>
</div>
