<div class="highlight" role="region">
  {{#heading}}
    {{>atoms-list-heading}}
  {{/heading}}
    {{#heroItem}}
        {{> molecules-hero-highlight-item}}
    {{/heroItem}}
  <ul class="highlight__items">

    {{#items}}
      {{> molecules-highlight-item}}
    {{/items}}

  </ul>

</div>
