<div class="institution-eligibility-checker" data-behaviour="InstitutionEligibilityChecker">
    <h6 class="institution-eligibility-checker__intro">Enter your institution below to check your eligibility:</h6>
    {{#compactForm}}
        {{>molecules-compact-form}}
    {{/compactForm}}
    <div id="institution-eligibility-checker-results" class="institution-eligibility-checker__results">{{#results}}{{> molecules-institution-search-results}}{{/results}}</div>
</div>