<div class="global-wrapper">

    <div class="global-inner">

        {{#siteHeader}}
            {{> organisms-site-header }}
        {{/siteHeader}}

        <main role="main" class="main blg-margin-bottom-large" id="maincontent">

            <div class="grid institution-eligibility-page">
                <div class="grid__item one-whole x-large--six-twelfths push--x-large--three-twelfths">
                    {{> organisms-content-header-simple }}

                    {{> organisms-institution-eligibility-checker }}


                    This is a paragraph


                    This is a link
                </div>
            </div>

        </main>

    </div>

</div>
