<div class="global-wrapper">

    <div class="global-inner">
        {{#siteHeader}}
            {{> organisms-site-header }}
        {{/siteHeader}}

        <main role="main" class="main blg-margin-bottom-large" id="maincontent">
            <h1>Check your eligibility</h1>

            <p>
                eLife has publishing agreements with more than x institutions that cover publishing fees for affiliated
                researchers. Check your institution below, or see the full list of institutions.
            </p>
        </main>


        {{> organisms-footer }}

    </div>

</div>
