<div class="box"{{#id}} id="{{id}}"{{/id}}>

  {{#label}}
    {{{label}}}
  {{/label}}

  <h{{headingLevel}}>{{{title}}}</h{{headingLevel}}>

  {{#content}}
    {{{content}}}
  {{/content}}

  {{#doi}}
    {{> resources/templates/doi}}
  {{/doi}}

</div>
