<figure class="captioned-asset">

  {{#picture}}
  {{> resources/templates/picture }}
  {{/picture}}

  {{#image}}
    <img src="{{defaultPath}}"
         alt="{{altText}}"{{#srcset}}
         srcset="{{srcset}}"{{/srcset}}
      class="captioned-asset__image{{#classes}} {{classes}}{{/classes}}" />
  {{/image}}

  {{#video}}
    {{> resources/templates/video}}
  {{/video}}

  <figcaption class="captioned-asset__caption">

    {{#captionText}}
      {{> resources/templates/caption-text}}
    {{/captionText}}

    {{#doi}}
      {{> resources/templates/doi}}
    {{/doi}}

    {{#download}}
      <div class="captioned-asset__caption___footer">
        <a href="{{link}}" class="captioned-asset__caption___footer_link" target="_blank">Open in new tab</a>
      </div>
    {{/download}}

  </figcaption>

  {{#table}}
    {{> resources/templates/table }}
  {{/table}}

</figure>
