<div class="institution-eligibility-checker" data-behaviour="InstitutionEligibilityChecker"{{#institutionsUrl}}
     data-institutions-url="{{institutionsUrl}}"{{/institutionsUrl}}{{#noResultsMessage}}
     data-empty-message="{{noResultsMessage}}"{{/noResultsMessage}}
>

    <h6 class="institution-eligibility-checker__intro">Enter your institution below to check your eligibility:</h6>

    {{#compactForm}}
        {{>resources/templates/compact-form}}
    {{/compactForm}}

    <div id="institution-eligibility-checker-results" class="institution-eligibility-checker__results">
        {{#searchResults}}
            {{> resources/templates/eligibility-tool-institution-search-results}}
        {{/searchResults}}
    </div>
</div>