<div class="highlight" role="region">
  {{#heading}}
    {{>resources/templates/list-heading}}
  {{/heading}}
    {{#heroItem}}
        {{> resources/templates/hero-highlight-item}}
    {{/heroItem}}
  <ul class="highlight__items">

    {{#items}}
      {{> resources/templates/highlight-item}}
    {{/items}}

  </ul>

</div>
