{{#heading}}
  <div class="listing-list-heading">
    {{> resources/templates/list-heading}}
  </div>
{{/heading}}

<ol class="listing-list listing-list--read-more"{{#id}} id="{{id}}"{{/id}}>
  {{#items}}
    {{> resources/templates/read-more-item }}
  {{/items}}

  {{#seeMoreLink}}
    <li class="listing-list__item">
      {{> resources/templates/see-more-link}}
    </li>
  {{/seeMoreLink}}
</ol>

{{#pagination}}
  {{> resources/templates/pager}}
{{/pagination}}
