<div class="meta">
    {{#statusText}}
        <span class="meta__type">{{{statusText}}}</span>
    {{/statusText}}

    {{#statusDate}}
        {{>resources/templates/date}}
    {{/statusDate}}

    <span class="meta__type">Peer reviewed</span>

    {{#date}}
        {{>resources/templates/date}}
    {{/date}}
</div>
