<div class="wrapper-alternative">
  <header class="site-header clearfix" data-behaviour="SiteHeader" id="siteHeader">
    <div class="site-header__title-border" role="banner">
      <div class="site-header__skip_to_content">
        <a href="#maincontent" class="site-header__skip_to_content__link button button--default">Skip to Content</a>
      </div>
      {{#logo}}
        {{> resources/templates/site-header-logo }}
      {{/logo}}
    </div>
  </header>
  <h1 class="personalised-cover__header-text">{{{title}}}</h1>
  <div class="personalised-cover-outer">
    <div class="personalised-cover-text">
      {{#text}}
        {{> resources/templates/paragraph }}
      {{/text}}
    </div>
    <div class="personalised-cover-thumbnail">
      {{#picture}}
        {{> resources/templates/picture}}
      {{/picture}}
    </div>
    <div data-behaviour="PersonalisedCoverDownload" class="personalised-cover-buttons">
      {{#a4ListHeading}}
        {{> resources/templates/list-heading }}
      {{/a4ListHeading}}
      {{#a4ButtonCollection}}
        {{> resources/templates/button-collection }}
      {{/a4ButtonCollection}}
      {{#letterListHeading}}
        {{> resources/templates/list-heading }}
      {{/letterListHeading}}
      {{#letterButtonCollection}}
        {{> resources/templates/button-collection }}
      {{/letterButtonCollection}}
    </div>
  </div>
</div>
