<header class="site-header clearfix" data-behaviour="SiteHeader" id="siteHeader">
  {{#title}}
    {{> resources/templates/site-header-title }}
  {{/title}}
  <div class="site-header__navigation" role="navigation" aria-label="Main navigation">

    {{#secondaryLinks}}
      {{> resources/templates/site-header-nav-bar }}
    {{/secondaryLinks}}

    {{#primaryLinks}}
      {{> resources/templates/site-header-nav-bar }}
    {{/primaryLinks}}

  </div>

  {{#searchBox}}
    {{> resources/templates/search-box}}
  {{/searchBox}}

</header>
