<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../assets/css/all.css?{{ cacheBuster }}" media="all" />

    <!-- Uncomment line below to display the baseline grid. -->
    <!--<link rel="stylesheet" href="https://basehold.it/24">-->

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">

  <div data-behaviour="FragmentHandler Math{{#loadHypothesis}} HypothesisLoader{{/loadHypothesis}}">
