@import "../../definitions";

.institution-eligibility-outcome {
  @include padding(14 8);
  text-align: center;
}

.institution-eligibility-outcome__text {
  @include font-size(14);
  font-weight: 600;
}

.institution-eligibility-outcome--agreed {
  background-color: #f2faf7;
  color: #03784d;
}

.institution-eligibility-outcome--not-agreed-published {
  background-color: #fff5f5;
  color: $color-text--reverse;
}
